doctype html
html(lang='en')
  head
    //
      Basic Page Needs
      ––––––––––––––––––––––––––––––––––––––––––––––––––
    meta(charset='utf-8')
    title Twitter Account Overview
    meta(name='description', content='')
    meta(name='author', content='')
    //
      Mobile Specific Metas
      ––––––––––––––––––––––––––––––––––––––––––––––––––
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //
      FONTS
      ––––––––––––––––––––––––––––––––––––––––––––––––––
    link(href='https://fonts.googleapis.com/css?family=Work+Sans:400,600', rel='stylesheet', type='text/css')
    //
      CSS
      ––––––––––––––––––––––––––––––––––––––––––––––––––
    //- link(rel='stylesheet', href='/static/css/circle/core/docs.css')
    link(rel='stylesheet', href='/static/css/global.css')
  body
  p OH NO! ERROR!

//- block main
//-   section.desk
//-     h1= `${error.message} - Status: ${error.status}`
//-     img.desk-items(src='/static/img/desk.svg')
//-     a.button-primary-small(href='/') Go Home
//-     .paper
//-       pre.stack-trace= error.stack
//-     .tear

    
