doctype html
html(lang="en")
  head
    title Twitter Account Overview
    //- create style tags to pull in the css files when the HTML is rendered
    link(rel='stylesheet', href='/static/css/circle/core/docs.css')
    link(rel='stylesheet', href='/static/css/global.css')
    //-
  body
    p HELLO THERE!

