doctype html
html(lang="en")
  head
    //- create a style tag to pull in the css file when the HTML is rendered
    title Flash Cards
    link(rel='stylesheet', href='/static/stylesheets/style.css')
    //-
  body
    include includes/header.pug
    block main

    